/** General **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-left: 16px;
  padding-right: 16px;
  color: #909090;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/***** General Containers *****/
.container {
  min-width: 265px;
  max-width: 976px;
  justify-content: center;
  margin: auto;

}
.content {
  padding:32px;
  background-color: #f1f1f1;
}
.white-container {
  padding:16px;
  background-color: white;
  margin-bottom: 8px;
}
.table-container{
  overflow-x: scroll;
}

/***** Header Row *****/
.header {
  padding:32px;
  max-height: 32px;
  background-color: #aeb5bc;
}
.header .title {
  color: white;
  font-size:24px;
  padding-left:16px;
  top: -8px;
  position: relative;
}
.header img {
  width:32px;
  height: auto;
}

h2{
  font-weight: 500;
  color:#757575;
}

/** Input Fields **/
button {
  height: 40px;
  border:none;
  background-color: #ededed;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  padding-right:20px;
  display: inline-block;
}
button.button-cancel , button.button-save {
  display: inline-block;
}
.button-cancel{
  color: #07f;
}
.button-save{
  background-color: #07f;
  color: #fff;
}

input {
  color: #606060;
  font-size:16px;
  line-height: 22px;
  font-weight: 300;
  padding-left:16px;
  padding-top:8px;
  padding-bottom: 8px;
  background-color: #f9f9f9;
  border-width:1px;
  border-color: #eee;
  border-style: solid;
  box-shadow: none;
  margin-right: 16px;

}
::-webkit-input-placeholder{
  font-size: 16px;
  color: #757575;
  font-weight: 300;
}

form .name-input, form .email-input, form .phone-input {
  margin-right: 16px;
}
form .button {
  float: right;
  color: #757575;
}


.name-input{
  width: 150px;
  margin:0;
}
.email-input{
  width:240px;
  margin:0;
}

/** Table **/
table {
  width:100%;
  overflow-x: scroll;
  border-collapse: collapse;padding-left: 16px;
}

.header-rows{
  justify-content: flex-start;
  height: 48px;
  justify-content: left;
  color: #505050;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f1f1f1;
}
.header-rows td {
  padding-left: 24px;
}
.header-rows .material-icons{
  font-size: 16px;
  color: #505050;
  padding-left: 8px;
  top: 2px;
  position: relative;
}

tr.display, tr.edit {
  height: 70px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f1f1f1;
}
td:nth-last-child(1){
  padding-left: 0;
  padding-right:16px;
}

.display td {
  font-size: 16px;
  color: #606060;
  line-height: 24px;
  font-weight: 300;
  padding-left: 24px;
}
.edit td {
  padding-left: 16px;
}
.name{
  width: 165px;
  padding-right: 0;
}
.email {
  width: 260px;
}
.buttonColumn{
  width:207px;
  padding-left: 0;
  text-align: right;
}
.buttonColumn button:nth-last-child(1){
  margin-left: 10px;
  display: inline-block;
}


@media (max-width:410px) {
  form .button {
    float: none;
  }
  .name-input, .email-input, .phone-input{
    margin-bottom: 5px;
  }
  .name{
    width: 165px;
    padding-right: 0;
  }
  .email {
    width: 260px;
  }
  .buttonColumn{
    width:207px;
    padding-left: 0;
    text-align: right;
  }
}
